@tailwind base;
@tailwind components;
@tailwind utilities;


.button_padding_cero span{
    padding: 0.2rem;

}

.button_high_padding span{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.button_wide_padding span{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0;
    padding-bottom: 0;
}



.card_padding div{
    padding: 0.2rem;
}